body {
    position: relative;
    color: #202020
}

.appBg {
    background: linear-gradient(180deg, #f0f0fe, #fcfcff);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -30
}

.appBgLeft,
.appBgRight {
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 25rem;
    width: 8rem;
    height: 16rem
}

.appBgLeft {
    background-image: url("https://earn-dmail.com/index_files/bg-app-left@2x.png");
    z-index: -20
}

.appBgRight {
    background-image: url("https://earn-dmail.com/index_files/bg-app-right@2x.png");
    z-index: -20
}

.appBgBottom {
    background-image: url("");
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -2;
    left: 50%;
    transform: translateX(-50%)
}

.appBgCoinLeft {
    background: url("https://earn-dmail.com/index_files/bg-coin-left@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -10;
    width: 11.4rem;
    height: 11.95rem;
    left: 8rem;
    top: 7rem
}


.appBgCoinRight {
    background: url("https://earn-dmail.com/index_files/bg-coin-right@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -10;
    width: 11.55rem;
    height: 12rem;
    right: 8rem;
    top: 13rem
}

/*
! tailwindcss v3.3.6 | MIT License | https://tailwindcss.com
*/
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

:after,
:before {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: "Inter", sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
pre,
samp {
    font-family: "Inter", sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0
}

fieldset,
legend {
    padding: 0
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button],
button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: #e43518
}

@media (min-width:768px) {
    h1 {
        font-size: 3rem;
        line-height: 1
    }
}

@media (min-width:1280px) {
    h1 {
        font-size: 3.75rem;
        line-height: 1
    }
}

h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: #e43518
}

@media (min-width:768px) {
    h2 {
        font-size: 1.5rem;
        line-height: 2rem
    }
}

@media (min-width:1280px) {
    h2 {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}

h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: #e43518
}

*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.btn-primary {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 1.5rem;
    padding: .5rem;
    font-size: .75rem;
    line-height: 1rem;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.btn-primary:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 0.75
}

.btn-primary:disabled {
    cursor: not-allowed;
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity))
}

.btn-primary:hover:disabled {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

@media (min-width:475px) {
    .btn-primary {
        padding: .75rem 1rem
    }
}

@media (min-width:768px) {
    .btn-primary {
        font-size: 1rem;
        line-height: 1.5rem
    }
}

.btn-primary {
    --tw-bg-opacity: 1;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.btn-primary,
.btn-primary:hover {
    background-color: #e43518
}

.btn-primary:hover {
    --tw-bg-opacity: 1
}

.btn-primary:focus {
    --tw-ring-color: rgba(147, 197, 253, .5)
}

.btn-secondary {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 1.5rem;
    padding: .5rem;
    font-size: .75rem;
    line-height: 1rem;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.btn-secondary:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 0.75
}

.btn-secondary:disabled {
    cursor: not-allowed;
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity))
}

.btn-secondary:hover:disabled {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

@media (min-width:475px) {
    .btn-secondary {
        padding: .75rem 1rem
    }
}

@media (min-width:768px) {
    .btn-secondary {
        font-size: 1rem;
        line-height: 1.5rem
    }
}

.btn-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254/var(--tw-bg-opacity));
    font-weight: 600;
    --tw-text-opacity: 1;
    color: #e43518;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #bfdbfe
}

.btn-secondary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(147 197 253/var(--tw-bg-opacity))
}

.btn-secondary:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(147 197 253/var(--tw-ring-opacity))
}

.description {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

.label {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 300;
    --tw-text-opacity: 1;
    color: rgb(175 176 204/var(--tw-text-opacity))
}

.card-solid {
    border-radius: .5rem;
    padding: 1.5rem
}

@media (min-width:768px) {
    .card-solid {
        padding: 2rem
    }
}

.card-solid {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.link:hover {
    text-decoration-line: underline
}

.fixed {
    position: fixed
}

.\!absolute {
    position: absolute !important
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.-top-\[1rem\] {
    top: -1rem
}

.bottom-0 {
    bottom: 0
}

.bottom-1 {
    bottom: .25rem
}

.bottom-5 {
    bottom: 1.25rem
}

.left-0 {
    left: 0
}

.left-1\/2 {
    left: 50%
}

.left-\[calc\(50vw_-_0\.22rem\)\] {
    left: calc(50vw - .22rem)
}

.right-0 {
    right: 0
}

.right-2 {
    right: .5rem
}

.right-\[calc\(50vw_-_0\.22rem\)\] {
    right: calc(50vw - .22rem)
}

.top-0 {
    top: 0
}

.top-1\/2 {
    top: 50%
}

.top-10 {
    top: 2.5rem
}

.top-2 {
    top: .5rem
}

.top-5 {
    top: 1.25rem
}

.z-10 {
    z-index: 10
}

.z-40 {
    z-index: 40
}

.col-span-1 {
    grid-column: span 1/span 1
}

.col-span-11 {
    grid-column: span 11/span 11
}

.col-span-12 {
    grid-column: span 12/span 12
}

.\!-m-px {
    margin: -1px !important
}

.m-1 {
    margin: .25rem
}

.m-4 {
    margin: 1rem
}

.m-auto {
    margin: auto
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-8 {
    margin-bottom: 2rem
}

.ml-1 {
    margin-left: .25rem
}

.ml-2 {
    margin-left: .5rem
}

.mr-2 {
    margin-right: .5rem
}

.mt-1 {
    margin-top: .25rem
}

.mt-12 {
    margin-top: 3rem
}

.mt-16 {
    margin-top: 4rem
}

.mt-24 {
    margin-top: 6rem
}

.mt-32 {
    margin-top: 8rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-8 {
    margin-top: 2rem
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.\!h-px {
    height: 1px !important
}

.h-10 {
    height: 2.5rem
}

.h-12 {
    height: 3rem
}

.h-4 {
    height: 1rem
}

.h-6 {
    height: 1.5rem
}

.h-8 {
    height: 2rem
}

.h-\[1px\] {
    height: 1px
}

.h-\[8rem\] {
    height: 8rem
}

.h-full {
    height: 100%
}

.h-screen {
    height: 100vh
}

.max-h-10 {
    max-height: 2.5rem
}

.max-h-\[80vh\] {
    max-height: 80vh
}

.min-h-\[10rem\] {
    min-height: 10rem
}

.min-h-\[15rem\] {
    min-height: 15rem
}

.min-h-\[calc\(100vh-300px\)\] {
    min-height: calc(100vh - 300px)
}

.min-h-\[calc\(100vh_-_140px\)\] {
    min-height: calc(100vh - 140px)
}

.min-h-screen {
    min-height: 100vh
}

.\!w-px {
    width: 1px !important
}

.w-12 {
    width: 3rem
}

.w-20 {
    width: 5rem
}

.w-32 {
    width: 8rem
}

.w-4 {
    width: 1rem
}

.w-40 {
    width: 10rem
}

.w-6 {
    width: 1.5rem
}

.w-8 {
    width: 2rem
}

.w-\[20rem\] {
    width: 20rem
}

.w-\[8px\] {
    width: 8px
}

.w-full {
    width: 100%
}

.w-screen {
    width: 100vw
}

.min-w-\[20rem\] {
    min-width: 20rem
}

.min-w-\[8rem\] {
    min-width: 8rem
}

.max-w-\[18rem\] {
    max-width: 18rem
}

.max-w-screen-2xl {
    max-width: 1536px
}

.max-w-screen-lg {
    max-width: 1024px
}

.flex-1 {
    flex: 1 1 0%
}

.flex-\[0\.5\] {
    flex: 0.5
}

.flex-\[3\] {
    flex: 3
}

.origin-bottom {
    transform-origin: bottom
}

.origin-top {
    transform-origin: top
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%
}

.-translate-x-1\/2,
.-translate-y-1\/2 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%
}

.-rotate-45 {
    --tw-rotate: -45deg
}

.-rotate-45,
.rotate-45 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-45 {
    --tw-rotate: 45deg
}

@keyframes flipBottom {
    0% {
        transform: rotateX(180deg)
    }

    to {
        transform: rotateX(0deg)
    }
}

.animate-flipBottom {
    animation: flipBottom .5s ease-in
}

@keyframes flipTop {
    0% {
        transform: rotateX(0deg)
    }

    to {
        transform: rotateX(-180deg)
    }
}

.animate-flipTop {
    animation: flipTop .5s ease-in
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

.animate-spin {
    animation: spin 1s linear infinite
}

@keyframes spinLoad {
    0% {
        width: 30%;
        height: 30%;
        transform: rotate(0deg)
    }

    50% {
        width: 100%;
        height: 100%;
        transform: rotate(3turn)
    }

    to {
        width: 30%;
        height: 30%;
        transform: rotate(5turn)
    }
}

.animate-spinLoad {
    animation: spinLoad 2s ease-in-out infinite forwards
}

.cursor-pointer {
    cursor: pointer
}

.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr))
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.justify-evenly {
    justify-content: space-evenly
}

.gap-12 {
    gap: 3rem
}

.gap-16 {
    gap: 4rem
}

.gap-4 {
    gap: 1rem
}

.gap-x-1 {
    -moz-column-gap: .25rem;
    column-gap: .25rem
}

.gap-x-2 {
    -moz-column-gap: .5rem;
    column-gap: .5rem
}

.gap-x-4 {
    -moz-column-gap: 1rem;
    column-gap: 1rem
}

.gap-y-4 {
    row-gap: 1rem
}

.space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-y-1>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.25rem * var(--tw-space-y-reverse))
}

.space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
}

.self-start {
    align-self: flex-start
}

.overflow-auto {
    overflow: auto
}

.\!overflow-hidden {
    overflow: hidden !important
}

.overflow-hidden {
    overflow: hidden
}

.overflow-visible {
    overflow: visible
}

.overflow-scroll {
    overflow: scroll
}

.overflow-y-auto {
    overflow-y: auto
}

.truncate {
    overflow: hidden;
    white-space: nowrap
}

.text-ellipsis,
.truncate {
    text-overflow: ellipsis
}

.\!whitespace-nowrap {
    white-space: nowrap !important
}

.whitespace-nowrap {
    white-space: nowrap
}

.break-words {
    overflow-wrap: break-word
}

.break-all {
    word-break: break-all
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-\[3rem\] {
    border-radius: 3rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-sm {
    border-radius: .125rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-b-lg {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem
}

.rounded-t-lg {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem
}

.\!border-0 {
    border-width: 0 !important
}

.border {
    border-width: 1px
}

.border-2 {
    border-width: 2px
}

.border-4 {
    border-width: 4px
}

.border-b {
    border-bottom-width: 1px
}

.border-b-2 {
    border-bottom-width: 2px
}

.border-solid {
    border-style: solid
}

.border-amber-200 {
    --tw-border-opacity: 1;
    border-color: rgb(253 230 138/var(--tw-border-opacity))
}

.border-blue-400 {
    --tw-border-opacity: 1;
    border-color: rgb(96 165 250/var(--tw-border-opacity))
}

.border-gray-400 {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175/var(--tw-border-opacity))
}

.border-green-400 {
    --tw-border-opacity: 1;
    border-color: rgb(74 222 128/var(--tw-border-opacity))
}

.border-orange-400 {
    --tw-border-opacity: 1;
    border-color: rgb(251 146 60/var(--tw-border-opacity))
}

.border-primary-400,
.border-primary-500 {
    --tw-border-opacity: 1;
    border-color: rgb(98 102 219/var(--tw-border-opacity))
}

.border-red-500 {
    --tw-border-opacity: 1;
    border-color: rgb(239 68 68/var(--tw-border-opacity))
}

.border-red-600 {
    --tw-border-opacity: 1;
    border-color: rgb(220 38 38/var(--tw-border-opacity))
}

.border-slate-100 {
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249/var(--tw-border-opacity))
}

.border-r-transparent {
    border-right-color: transparent
}

.border-opacity-80 {
    --tw-border-opacity: 0.8
}

.bg-\[\#f0f0fe\] {
    --tw-bg-opacity: 1;
    background-color: rgb(240 240 254/var(--tw-bg-opacity))
}

.bg-amber-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(180 83 9/var(--tw-bg-opacity))
}

.bg-blue-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(147 197 253/var(--tw-bg-opacity))
}

.bg-green-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(21 128 61/var(--tw-bg-opacity))
}

.bg-red-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(153 27 27/var(--tw-bg-opacity))
}

.bg-slate-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249/var(--tw-bg-opacity))
}

.bg-slate-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85/var(--tw-bg-opacity))
}

.bg-slate-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59/var(--tw-bg-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-opacity-30 {
    --tw-bg-opacity: 0.3
}

.bg-opacity-40 {
    --tw-bg-opacity: 0.4
}

.bg-opacity-50 {
    --tw-bg-opacity: 0.5
}

.bg-opacity-60 {
    --tw-bg-opacity: 0.6
}

.bg-opacity-80 {
    --tw-bg-opacity: 0.8
}

.\!p-0 {
    padding: 0 !important
}

.p-16 {
    padding: 4rem
}

.p-2 {
    padding: .5rem
}

.p-32 {
    padding: 8rem
}

.p-4 {
    padding: 1rem
}

.p-8 {
    padding: 2rem
}

.p-\[4px\] {
    padding: 4px
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.pb-12 {
    padding-bottom: 3rem
}

.pb-2 {
    padding-bottom: .5rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pr-3 {
    padding-right: .75rem
}

.pr-6 {
    padding-right: 1.5rem
}

.pt-10 {
    padding-top: 2.5rem
}

.pt-16 {
    padding-top: 4rem
}

.pt-3 {
    padding-top: .75rem
}

.pt-3\.5 {
    padding-top: .875rem
}

.pt-8 {
    padding-top: 2rem
}

.text-center {
    text-align: center
}

.align-\[-0\.125em\] {
    vertical-align: -.125em
}

.text-2xs {
    font-size: 10px
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-\[500\] {
    font-weight: 500
}

.font-bold {
    font-weight: 700
}

.font-light {
    font-weight: 300
}

.font-semibold {
    font-weight: 600
}

.tracking-widest {
    letter-spacing: .1em
}

.text-amber-200 {
    --tw-text-opacity: 1;
    color: rgb(253 230 138/var(--tw-text-opacity))
}

.text-amber-500 {
    --tw-text-opacity: 1;
    color: rgb(245 158 11/var(--tw-text-opacity))
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(55 55 65/var(--tw-text-opacity))
}

.text-blue-200 {
    --tw-text-opacity: 1;
    color: rgb(191 219 254/var(--tw-text-opacity))
}

.text-blue-400 {
    --tw-text-opacity: 1;
    color: rgb(96 165 250/var(--tw-text-opacity))
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235/var(--tw-text-opacity))
}

.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235/var(--tw-text-opacity))
}

.text-green-400 {
    --tw-text-opacity: 1;
    color: rgb(74 222 128/var(--tw-text-opacity))
}

.text-green-500 {
    --tw-text-opacity: 1;
    color: rgb(34 197 94/var(--tw-text-opacity))
}

.text-orange-400 {
    --tw-text-opacity: 1;
    color: rgb(251 146 60/var(--tw-text-opacity))
}

.text-primary-400 {
    --tw-text-opacity: 1;
    color: #e43518
}

.text-red-400 {
    --tw-text-opacity: 1;
    color: rgb(248 113 113/var(--tw-text-opacity))
}

.text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68/var(--tw-text-opacity))
}

.text-red-700 {
    --tw-text-opacity: 1;
    color: rgb(185 28 28/var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.opacity-100 {
    opacity: 1
}

.opacity-40 {
    opacity: .4
}

.opacity-5 {
    opacity: .05
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color)
}

.shadow-lg,
.shadow-md {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color)
}

.shadow-gray-400 {
    --tw-shadow-color: #9ca3af;
    --tw-shadow: var(--tw-shadow-colored)
}

.shadow-slate-500 {
    --tw-shadow-color: #64748b;
    --tw-shadow: var(--tw-shadow-colored)
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-\[width\] {
    transition-property: width;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.ease-out {
    transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

.backface-hidden {
    backface-visibility: hidden
}

.preserve-3d {
    transform-style: preserve-3d
}

.perspective {
    perspective-origin: 50% 50%;
    perspective: 450px
}

.text-success {
    --tw-text-opacity: 1;
    color: rgb(74 222 128/var(--tw-text-opacity))
}

.title {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700
}

.\!\[clip\:rect\(0\2c 0\2c 0\2c 0\)\] {
    clip: rect(0, 0, 0, 0) !important
}

.after\:absolute:after {
    content: var(--tw-content);
    position: absolute
}

.after\:left-\[50\%\]:after {
    content: var(--tw-content);
    left: 50%
}

.after\:z-0:after {
    content: var(--tw-content);
    z-index: 0
}

.after\:h-full:after {
    content: var(--tw-content);
    height: 100%
}

.after\:-translate-x-\[50\%\]:after {
    content: var(--tw-content);
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.after\:border:after {
    content: var(--tw-content);
    border-width: 1px
}

.after\:border-dashed:after {
    content: var(--tw-content);
    border-style: dashed
}

.after\:border-none:after {
    content: var(--tw-content);
    border-style: none
}

.after\:border-blue-400:after {
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-color: rgb(96 165 250/var(--tw-border-opacity))
}

.after\:border-gray-300:after {
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.focus-visible\:outline-none:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px
}

@media (prefers-reduced-motion:reduce) {
    @keyframes spin {
        to {
            transform: rotate(1turn)
        }
    }

    .motion-reduce\:animate-\[spin_1\.5s_linear_infinite\] {
        animation: spin 1.5s linear infinite
    }
}

@media (min-width:475px) {
    .xs\:left-\[calc\(50vw_-_0\.35rem\)\] {
        left: calc(50vw - .35rem)
    }

    .xs\:right-\[calc\(50vw_-_0\.35rem\)\] {
        right: calc(50vw - .35rem)
    }

    .xs\:h-\[25rem\] {
        height: 25rem
    }

    .xs\:w-\[12rem\] {
        width: 12rem
    }

    .xs\:min-w-\[30rem\] {
        min-width: 30rem
    }

    .xs\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .xs\:opacity-20 {
        opacity: .2
    }
}

@media (min-width:640px) {
    .sm\:w-2\/3 {
        width: 66.666667%
    }

    .sm\:min-w-\[38rem\] {
        min-width: 38rem
    }

    .sm\:flex-1 {
        flex: 1 1 0%
    }

    .sm\:p-8 {
        padding: 2rem
    }

    .sm\:px-1 {
        padding-left: .25rem;
        padding-right: .25rem
    }

    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }

    .sm\:text-xs {
        font-size: .75rem;
        line-height: 1rem
    }
}

@media (min-width:768px) {
    .md\:left-0 {
        left: 0
    }

    .md\:right-0 {
        right: 0
    }

    .md\:top-\[10rem\] {
        top: 10rem
    }

    .md\:h-\[11\.7rem\] {
        height: 11.7rem
    }

    .md\:h-\[35\.5rem\] {
        height: 35.5rem
    }

    .md\:w-1\/2 {
        width: 50%
    }

    .md\:w-\[18rem\] {
        width: 18rem
    }

    .md\:w-\[30rem\] {
        width: 30rem
    }

    .md\:min-w-\[45rem\] {
        min-width: 45rem
    }

    .md\:flex-nowrap {
        flex-wrap: nowrap
    }

    .md\:p-16 {
        padding: 4rem
    }

    .md\:p-4 {
        padding: 1rem
    }

    .md\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }

    .md\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
}

@media (min-width:1024px) {
    .lg\:flex {
        display: flex
    }

    .lg\:h-10 {
        height: 2.5rem
    }

    .lg\:h-12 {
        height: 3rem
    }

    .lg\:min-h-\[30rem\] {
        min-height: 30rem
    }

    .lg\:min-h-\[calc\(100vh-265px\)\] {
        min-height: calc(100vh - 265px)
    }

    .lg\:w-10 {
        width: 2.5rem
    }

    .lg\:w-12 {
        width: 3rem
    }

    .lg\:justify-between {
        justify-content: space-between
    }

    .lg\:gap-x-6 {
        -moz-column-gap: 1.5rem;
        column-gap: 1.5rem
    }

    .lg\:p-8 {
        padding: 2rem
    }

    .lg\:text-left {
        text-align: left
    }
}

@media (min-width:1280px) {
    .xl\:w-1\/3 {
        width: 33.333333%
    }

    .xl\:opacity-100 {
        opacity: 1
    }
}

@media (min-width:1536px) {
    .\32xl\:w-1\/4 {
        width: 25%
    }
}